## DrugBank Data Exploration

In [1]:
import pandas as pd

In [2]:
drug_dir = '../data/drugbank/'

#### Drugs ids with names

In [3]:
drugs = pd.read_csv(drug_dir + 'drug_id_name_map.csv', index_col=[0])
drugs.head()

        id            drug_name
1  DB00001            Lepirudin
2  DB00002            Cetuximab
3  DB00003         Dornase alfa
4  DB00004  Denileukin diftitox
5  DB00005           Etanercept

In [4]:
num_drugs = len(drugs.id)
print(f'Number of drugs in dataset is {num_drugs}')

Number of drugs in dataset is 14594

#### Drug's categories

In [5]:
categories = pd.read_csv(drug_dir + 'drug_category.csv', index_col=[0]).dropna()
categories.head()
# mesh-id - The Medical Subjects Headings (MeSH) identifier for the category

   mesh_id                             category
1  D000602  Amino Acids, Peptides, and Proteins
2  D000925                       Anticoagulants
3  D058833                Antithrombin Proteins
4  D000991                        Antithrombins
6  D002317                Cardiovascular Agents

In [6]:
categories.groupby('category').count()

                                       mesh_id
category
11-Hydroxycorticosteroids                   16
14-alpha Demethylase Inhibitors              8
17-Hydroxycorticosteroids                   17
17-Ketosteroids                             17
2-Chloroadenosine                            1
...                                        ...
meta-Aminobenzoates                          3
ortho-Aminobenzoates                         8
p38 Mitogen-Activated Protein Kinases        1
para-Aminobenzoates                         19
von Willebrand Factor                        1

[2181 rows x 1 columns]

#### Drugs classification

In [7]:
drug_class = pd.read_csv(drug_dir + 'drug_classification.csv', index_col=[0])

In [8]:
drug_class.head()

,id,kingdom,superclass,class,subclass,substituent
1,DB00001,Organic Compounds,Organic Acids,Carboxylic Acids and Derivatives,"Amino Acids, Peptides, and Analogues",NaN
2,DB00002,Organic Compounds,Organic Acids,Carboxylic Acids and Derivatives,"Amino Acids, Peptides, and Analogues",NaN
3,DB00003,Organic Compounds,Organic Acids,Carboxylic Acids and Derivatives,"Amino Acids, Peptides, and Analogues",NaN
4,DB00004,Organic Compounds,Organic Acids,Carboxylic Acids and Derivatives,"Amino Acids, Peptides, and Analogues",NaN
5,DB00005,Organic Compounds,Organic Acids,Carboxylic Acids and Derivatives,"Amino Acids, Peptides, and Analogues",NaN

#### Drugs interactions

In [9]:
interactions = pd.read_csv(drug_dir + 'drug_interactions.csv', index_col=[0])

In [10]:
interactions.head()

,id,interacted_drug_name,description
1,DB06605,Apixaban,Apixaban may increase the anticoagulant activi...
2,DB06695,Dabigatran etexilate,Dabigatran etexilate may increase the anticoag...
3,DB01254,Dasatinib,The risk or severity of bleeding and hemorrhag...
4,DB01609,Deferasirox,The risk or severity of gastrointestinal bleed...
5,DB01586,Ursodeoxycholic acid,The risk or severity of bleeding and bruising ...

In [11]:
food_interactions = pd.read_csv(drug_dir + 'drug_food_interactions.csv', index_col=[0])

In [12]:
food_interactions.head()

        id                                        description
1  DB00001  Avoid herbs and supplements with anticoagulant...
2  DB00006                                   Avoid echinacea.
3  DB00006  Avoid herbs and supplements with anticoagulant...
4  DB00008                            Drink plenty of fluids.
5  DB00009  Avoid herbs and supplements with anticoagulant...

#### Drugs mixtures

In [13]:
mixtures = pd.read_csv(drug_dir + 'drug_mixtures.csv', index_col=[0])

In [14]:
mixtures.head()

          drug_name          ingredients
1          Refludan            Lepirudin
2           Erbitux            Cetuximab
3         Pulmozyme         Dornase alfa
4  Pulmozyme 1mg/ml         Dornase alfa
5             Ontak  Denileukin diftitox

#### Drug InChi key

In [15]:
inchi_key = pd.read_csv(drug_dir + 'drug_inchi_key.csv', index_col=[0])
inchi_key.head()

        id                    inchi_key
1  DB00006  OIRCOABEOLEUMC-GEJPAHFPSA-N
2  DB00007  GFIJNRVAKGFPGQ-LIJARHBVSA-N
3  DB00014  BLCLNMBMMGCOAS-URPVMXJPSA-N
4  DB00027  NDAYQJDHGXTBJL-MWWSRJDJSA-N
5  DB00035  NFLWUMRGJYTJIN-PNIOQBSNSA-N

#### Drug molecules

In [16]:
molecules = pd.read_csv(drug_dir + 'drug_molecul.csv', index_col=[0])
molecules.head()

        id                  molecule
1  DB00001         C287H440N80O110S6
2  DB00002  C6484H10042N1732O2023S36
3  DB00003      C1321H1999N339O396S9
4  DB00004     C2560H4042N678O799S17
5  DB00005     C2224H3475N621O698S36

#### Drug salts

In [17]:
salts = pd.read_csv(drug_dir + 'drug_salts.csv', index_col=[0])
salts.head()

,id,name,cas_number,inchi_key,drug
1,DBSALT000105,Leuprolide acetate,74381-53-6,YFDMUNOZURYOCP-XNHQSDQCSA-N,DB00007
2,DBSALT003182,Leuprolide mesylate,944347-41-5,MBIDSOMXPLCOHS-XNHQSDQCSA-N,DB00007
3,DBSALT001439,Sermorelin acetate,114466-38-5,NaN,DB00010
4,DBSALT000093,Goserelin acetate,145781-92-6,IKDXDQDKCZPQSZ-JHYYTBFNSA-N,DB00014
5,DBSALT001733,Insulin human zinc suspension,NaN,NaN,DB00030