## Data Exploration

In [10]:
import pandas as pd

#### Drugs ids with names

In [30]:
drugs = pd.read_csv('data/drug_id_name_map.csv', index_col=[0])
drugs.head()

        id            drug_name
1  DB00001            Lepirudin
2  DB00002            Cetuximab
3  DB00003         Dornase alfa
4  DB00004  Denileukin diftitox
5  DB00005           Etanercept

In [18]:
num_drugs = len(drugs.id)
print(f'Number of drugs in dataset is {num_drugs}')

Number of drugs in dataset is 14594

#### Drug's categories

In [31]:
categories = pd.read_csv('data/drug_category.csv', index_col=[0]).dropna()
categories.head()

   mesh_id                             category
1  D000602  Amino Acids, Peptides, and Proteins
2  D000925                       Anticoagulants
3  D058833                Antithrombin Proteins
4  D000991                        Antithrombins
6  D002317                Cardiovascular Agents

In [32]:
categories.groupby('category').count()

                                       mesh_id
category
11-Hydroxycorticosteroids                   16
14-alpha Demethylase Inhibitors              8
17-Hydroxycorticosteroids                   17
17-Ketosteroids                             17
2-Chloroadenosine                            1
...                                        ...
meta-Aminobenzoates                          3
ortho-Aminobenzoates                         8
p38 Mitogen-Activated Protein Kinases        1
para-Aminobenzoates                         19
von Willebrand Factor                        1

[2181 rows x 1 columns]