## FooDB

### Exploration

In [1]:
import pandas as pd
import re

In [2]:
data_dir = 'data/foodb_2020_04_07_csv/'

In [9]:
# acc_num = pd.read_csv(data_dir + 'AccessionNumber.csv')
# acc_num.head()

# how it is connected to compound?

In [3]:
compound = pd.read_csv(data_dir + 'Compound.csv')
compound.head()

/home/marketa/diplomka/env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (3,4,5,6,12,13,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,public_id,name,moldb_iupac,state,annotation_quality,description,cas_number,moldb_inchikey,moldb_inchi,moldb_smiles,moldb_mono_mass,kingdom,superklass,klass,subklass
0,4,FDB000004,Cyanidin 3-(6''-acetyl-galactoside),NaN,low,Constituent of the leaves of Nymphaea alba [CC...,350602-26-5,[H][C@]1(COC(C)=O)O[C@@]([H])(OC2=CC3=C(O)C=C(...,InChI=1S/C23H22O12/c1-9(24)32-8-18-19(29)20(30...,491.118951,HBXXDBKJLPLXPR-DLBZZEGUSA-O,"3-{[(2S,3R,4S,5R,6R)-6-[(acetyloxy)methyl]-3,4...",Organic compounds,Phenylpropanoids and polyketides,Flavonoids,Flavonoid glycosides
1,13,FDB000013,Cyanidin 3-(6''-succinyl-glucoside),NaN,low,Constituent of Phragmites australis [CCD]. Cya...,216692-08-9,[H][C@]1(COC(=O)CCC(O)=O)O[C@@]([H])(OC2=CC3=C...,InChI=1S/C25H24O14/c26-11-6-14(28)12-8-17(24(3...,549.124431,MIYGQTFETYBMKF-WVXUANQFSA-O,"7-methoxy-2,2-dimethyl-2H-chromene-6-carboxyli...",Organic compounds,Phenylpropanoids and polyketides,Flavonoids,Flavonoid glycosides
2,14,FDB000014,Pelargonidin 3-(6''-succinyl-glucoside),liquid,low,Pelargonidin 3-(6''-succinyl-glucoside) is a m...,NaN,[H][C@]1(COC(=O)CCC(O)=O)O[C@@]([H])(OC2=CC3=C...,InChI=1S/C25H24O13/c26-12-3-1-11(2-4-12)24-17(...,533.129516,UBUSYXLSGMWUJJ-WVXUANQFSA-O,"3-{[(2S,3R,4S,5S,6R)-6-{[(3-carboxypropanoyl)o...",NaN,NaN,NaN,NaN
3,24,FDB000024,Petunidin 3-O-(6''-acetyl-galactoside),NaN,low,Petunidin 3-o-(6''-acetyl-galactoside) is a me...,NaN,[H][C@]1(COC(C)=O)OC(OC2=C([O+]=C3C=C(O)C=C(O)...,InChI=1S/C24H24O13/c1-9(25)34-8-18-20(30)21(31...,521.129516,GPUBWXUQPURXOQ-SKKXNPCDSA-O,"3-{[(3R,4S,5R,6R)-6-[(acetyloxy)methyl]-3,4,5-...",NaN,NaN,NaN,NaN
4,25,FDB000025,Peonidin 3-(6''-acetyl-galactoside),NaN,low,Peonidin 3-(6''-acetyl-galactoside) is a membe...,75-07-0,[H][C@]1(COC(C)=O)OC(OC2=C([O+]=C3C=C(O)C=C(O)...,InChI=1S/C24H24O12/c1-10(25)33-9-19-20(29)21(3...,505.134601,MBSKDCPWFSMEFD-ZKVZURMCSA-O,"3-{[(3R,4S,5R,6R)-6-[(acetyloxy)methyl]-3,4,5-...",NaN,NaN,NaN,NaN

In [11]:
# compound_alt_parent = pd.read_csv(data_dir + 'CompoundAlternateParent.csv')
# compound_alt_parent.head()

# not useful ?

In [12]:
# compound_ex_descriptor = pd.read_csv(data_dir + 'CompoundExternalDescriptor.csv')
# compound_ex_descriptor.head()

In [13]:
# compound_ontology = pd.read_csv(data_dir + 'CompoundOntologyTerm.csv')
# compound_ontology.head()

# not useful ?

In [14]:
# compound_enzyme = pd.read_csv(data_dir + 'CompoundsEnzyme.csv')
# compound_enzyme.head()

# not useful ?

In [15]:
# compound_health = pd.read_csv(data_dir + 'CompoundsHealthEffect.csv')
# compound_health.head()

# not useful ?

In [16]:
# compound_synonym = pd.read_csv(data_dir + 'CompoundSynonym.csv')
# compound_synonym.head()

In [4]:
content = pd.read_csv(data_dir + 'Content.csv')
content.head()

/home/marketa/diplomka/env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (4,5,6,7,8,9,13,14,21,22,24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,source_id,source_type,food_id,orig_food_id,orig_food_common_name,orig_food_scientific_name,orig_food_part,orig_source_id,orig_source_name,...,citation_type,creator_id,updater_id,created_at,updated_at,orig_method,orig_unit_expression,standard_content,preparation_type,export
0,1,1,Nutrient,4,29,Kiwi,Actinidia chinensis PLANCHON [Actinidiaceae],Fruit,FAT,FAT,...,DATABASE,NaN,NaN,2014-11-05 13:42:11 UTC,2019-12-11 20:23:57 UTC,NaN,NaN,1955.00,raw,0
1,2,1,Nutrient,6,53,Onion,Allium cepa L. [Liliaceae],Bulb,FAT,FAT,...,DATABASE,NaN,NaN,2014-11-05 13:42:11 UTC,2019-12-11 20:23:57 UTC,NaN,NaN,1853.95,raw,0
2,3,1,Nutrient,6,53,Onion,Allium cepa L. [Liliaceae],Leaf,FAT,FAT,...,DATABASE,NaN,NaN,2014-11-05 13:42:11 UTC,2019-12-11 20:23:57 UTC,NaN,NaN,4150.00,raw,0
3,4,1,Nutrient,9,55,Chives,Allium schoenoprasum L. [Liliaceae],Leaf,FAT,FAT,...,DATABASE,NaN,NaN,2014-11-05 13:42:11 UTC,2019-12-11 20:23:57 UTC,NaN,NaN,3900.00,raw,0
4,5,1,Nutrient,11,70,Cashew,Anacardium occidentale L. [Anacardiaceae],Fruit,FAT,FAT,...,DATABASE,NaN,NaN,2014-11-05 13:42:11 UTC,2019-12-11 20:23:57 UTC,NaN,NaN,2500.00,other,0

In [18]:
# enzyme = pd.read_csv(data_dir + 'Enzyme.csv')
# enzyme.head()

# not useful ?

In [5]:
food = pd.read_csv(data_dir + 'Food.csv')
food.head()

,id,name,name_scientific,description,itis_id,wikipedia_id,picture_file_name,picture_content_type,picture_file_size,picture_updated_at,...,food_type,created_at,updated_at,creator_id,updater_id,export_to_afcdb,category,ncbi_taxonomy_id,export_to_foodb,public_id
0,1,Angelica,Angelica keiskei,Angelica is a genus of about 60 species of tal...,NaN,Angelica,1.jpg,image/jpeg,111325.0,2012-04-20 09:29:57 UTC,...,Type 1,2011-02-09 00:37:14 UTC,2019-05-14 18:04:13 UTC,NaN,2.0,False,specific,357850.0,True,FOOD00001
1,2,Savoy cabbage,Brassica oleracea var. sabauda,Savoy cabbage (Brassica oleracea convar. capit...,NaN,Savoy cabbage,2.jpg,image/jpeg,155178.0,2012-04-20 09:39:54 UTC,...,Type 1,2011-02-09 00:37:15 UTC,2019-05-14 18:04:13 UTC,NaN,NaN,False,specific,1216010.0,True,FOOD00002
2,3,Silver linden,Tilia argentea,Tilia tomentosa (Silver Lime in the UK and Sil...,845789.0,Tilia tomentosa,3.jpg,image/jpeg,56367.0,2012-04-20 09:41:25 UTC,...,Type 1,2011-02-09 00:37:15 UTC,2019-05-17 16:19:45 UTC,NaN,NaN,False,specific,NaN,True,FOOD00003
3,4,Kiwi,Actinidia chinensis,"The kiwifruit, often shortened to kiwi in many...",506775.0,Kiwifruit,4.jpg,image/jpeg,110661.0,2012-04-20 09:32:21 UTC,...,Type 1,2011-02-09 00:37:15 UTC,2019-05-14 18:04:13 UTC,NaN,NaN,False,specific,3625.0,True,FOOD00004
4,5,Allium,Allium,Allium haematochiton is a species of wild onio...,42634.0,Allium haematochiton,5.jpg,image/jpeg,341911.0,2012-04-20 09:37:44 UTC,...,Type 1,2011-02-09 00:37:15 UTC,2019-05-14 18:04:13 UTC,NaN,NaN,False,specific,4678.0,True,FOOD00005

In [20]:
food.shape

(992, 23)

In [21]:
# health_effect = pd.read_csv(data_dir + 'HealthEffect.csv')
# health_effect.head()

# not useful ?

In [22]:
# nutrient = pd.read_csv(data_dir + 'Nutrient.csv')
# nutrient.head()

# not useful ?

In [23]:
# ontology_synonym = pd.read_csv(data_dir + 'OntologySynonym.csv')
# ontology_synonym.head()

# not useful ?

In [ ]:
# ontology_term = pd.read_csv(data_dir + 'OntologyTerm.csv')
# ontology_term.head()

# not useful ?

### Cleaning data

Removing unnecessary columns

In [6]:
food.drop(
    ['description', 'picture_file_name', 'picture_content_type', 'food_type', 'category',
    'picture_file_size', 'picture_updated_at', 'created_at', 'updated_at', 
    'creator_id', 'updater_id', 'export_to_afcdb', 'export_to_foodb'],
     axis=1, inplace=True)  
# food.head()

In [7]:
# corecting type of some columns

food['itis_id'] = food['itis_id'].fillna(0).astype(int)  
food['legacy_id'] = food['legacy_id'].fillna(0).astype(int)
food['ncbi_taxonomy_id'] = food['ncbi_taxonomy_id'].fillna(0).astype(int)

food.head()

,id,name,name_scientific,itis_id,wikipedia_id,legacy_id,food_group,food_subgroup,ncbi_taxonomy_id,public_id
0,1,Angelica,Angelica keiskei,0,Angelica,1,Herbs and Spices,Herbs,357850,FOOD00001
1,2,Savoy cabbage,Brassica oleracea var. sabauda,0,Savoy cabbage,2,Vegetables,Cabbages,1216010,FOOD00002
2,3,Silver linden,Tilia argentea,845789,Tilia tomentosa,3,Herbs and Spices,Herbs,0,FOOD00003
3,4,Kiwi,Actinidia chinensis,506775,Kiwifruit,4,Fruits,Tropical fruits,3625,FOOD00004
4,5,Allium,Allium,42634,Allium haematochiton,5,Vegetables,Onion-family vegetables,4678,FOOD00005

In [8]:
compound.drop(
    ['moldb_iupac', 'state', 'annotation_quality', 'cas_number', 
    'moldb_inchikey', 'moldb_mono_mass', 'moldb_inchi', 
    'kingdom', 'superklass', 'klass', 'subklass'], 
    axis=1, inplace=True)
# keep smiles?

compound.rename(columns={'description': 'cas_number', 'moldb_smiles': 'inchikey'}, inplace=True)
compound.head()

,id,public_id,name,cas_number,inchikey
0,4,FDB000004,Cyanidin 3-(6''-acetyl-galactoside),350602-26-5,HBXXDBKJLPLXPR-DLBZZEGUSA-O
1,13,FDB000013,Cyanidin 3-(6''-succinyl-glucoside),216692-08-9,MIYGQTFETYBMKF-WVXUANQFSA-O
2,14,FDB000014,Pelargonidin 3-(6''-succinyl-glucoside),NaN,UBUSYXLSGMWUJJ-WVXUANQFSA-O
3,24,FDB000024,Petunidin 3-O-(6''-acetyl-galactoside),NaN,GPUBWXUQPURXOQ-SKKXNPCDSA-O
4,25,FDB000025,Peonidin 3-(6''-acetyl-galactoside),75-07-0,MBSKDCPWFSMEFD-ZKVZURMCSA-O

In [9]:
# compound_ex_descriptor.drop(['creator_id', 'updater_id', 'created_at', 'updated_at', 'annotations'], axis=1, inplace=True)
# compound_ex_descriptor.head()

In [9]:
content.drop(
    ['citation', 'citation_type','creator_id', 'updater_id', 'created_at', 'updated_at',
    'preparation_type', 'export', 'orig_citation', 'orig_method', 'orig_unit_expression',
    'orig_food_id', 'orig_food_scientific_name', 'orig_food_part', 'orig_source_id'], 
    axis=1, inplace=True)
content.head()

,id,source_id,source_type,food_id,orig_food_common_name,orig_source_name,orig_content,orig_min,orig_max,orig_unit,standard_content
0,1,1,Nutrient,4,Kiwi,FAT,1955.00,70.0,3840.0,mg/100g,1955.00
1,2,1,Nutrient,6,Onion,FAT,1853.95,100.0,3607.9,mg/100g,1853.95
2,3,1,Nutrient,6,Onion,FAT,4150.00,600.0,7700.0,mg/100g,4150.00
3,4,1,Nutrient,9,Chives,FAT,3900.00,300.0,7500.0,mg/100g,3900.00
4,5,1,Nutrient,11,Cashew,FAT,2500.00,100.0,4900.0,mg/100g,2500.00

In [10]:
# keep only source_type == Compound 
content = content[content['source_type'] == 'Compound']
content.head()

,id,source_id,source_type,food_id,orig_food_common_name,orig_source_name,orig_content,orig_min,orig_max,orig_unit,standard_content
116684,128665,21594,Compound,287,Alfalfa seeds,"Fatty acids, total saturated",0.0,NaN,NaN,mg/100g,0.0
116685,128666,21595,Compound,287,Alfalfa seeds,"Fatty acids, total mono-unsaturated",0.0,NaN,NaN,mg/100g,0.0
116686,128667,21595,Compound,287,Alfalfa seeds,"Fatty acids, total poly-unsaturated",0.0,NaN,NaN,mg/100g,0.0
116687,128668,1131,Compound,287,Alfalfa seeds,"Carbohydrates, added sugar (sucrose)",0.0,NaN,NaN,mg/100g,0.0
116688,128669,753,Compound,287,Alfalfa seeds,Alcohol (ethanol),0.0,NaN,NaN,mg/100g,0.0

In [11]:
# join all content columns into one - orig_content (or different if orig_content is missing)
# -> I can use only orig_content

content.drop(['orig_min', 'orig_max', 'standard_content'], axis=1, inplace=True)

# correct orig_unit 
content.replace('mg/100 g', 'mg/100g', inplace=True)

content.head()

,id,source_id,source_type,food_id,orig_food_common_name,orig_source_name,orig_content,orig_unit
116684,128665,21594,Compound,287,Alfalfa seeds,"Fatty acids, total saturated",0.0,mg/100g
116685,128666,21595,Compound,287,Alfalfa seeds,"Fatty acids, total mono-unsaturated",0.0,mg/100g
116686,128667,21595,Compound,287,Alfalfa seeds,"Fatty acids, total poly-unsaturated",0.0,mg/100g
116687,128668,1131,Compound,287,Alfalfa seeds,"Carbohydrates, added sugar (sucrose)",0.0,mg/100g
116688,128669,753,Compound,287,Alfalfa seeds,Alcohol (ethanol),0.0,mg/100g

In [12]:
# some compound's content is duplicated for a food -> keep just first (accuracy ??)
content.drop_duplicates(subset=['source_id', 'food_id'], inplace=True)

### Merging

content: food_id => food: id 

content: source_id (origin_source_name) => compound: id (name)

In [13]:
kiwi_pub_id = food[food['name'] == 'Kiwi'].public_id.values[0]
kiwi_id = food[food['name'] == 'Kiwi'].id.values[0]

content[content['food_id'] == kiwi_id].head()

,id,source_id,source_type,food_id,orig_food_common_name,orig_source_name,orig_content,orig_unit
157550,171166,21594,Compound,4,"Kiwi fruit, raw","Fatty acids, total saturated",100.0,mg/100g
157551,171167,21595,Compound,4,"Kiwi fruit, raw","Fatty acids, total mono-unsaturated",100.0,mg/100g
157553,171169,1131,Compound,4,"Kiwi fruit, raw","Carbohydrates, added sugar (sucrose)",0.0,mg/100g
157554,171170,753,Compound,4,"Kiwi fruit, raw",Alcohol (ethanol),0.0,mg/100g
157555,171171,3513,Compound,4,"Kiwi fruit, raw",Ash,700.0,mg/100g

### Save data that I need

In [15]:
food.to_csv('data/food.csv')
compound.to_csv('data/compound.csv')
content.to_csv('data/content.csv')

### Food contribution
For each food, get its compounds - order them according to contribution score (top 10??).

contribution score = compund content in the food / content of all compounds in the food (same as in https://www.nature.com/articles/s41598-022-05132-y.pdf)

UPDATE 1: for each food, use only list of compounds which are in phytochemicals.txt (these compounds are likely to inmteract with drugs)

UPDATE 2: use phytocheicals and compounds which are in drugs

In [14]:
# UPDATE 1
with open('data/phytochemicals.txt', 'r') as f:
    phytochemicals = f.readlines()
    
phytochemicals = [re.sub('\n', '', x) for x in phytochemicals]   
phytochemicals = [x.lower() for x in phytochemicals] 
print(phytochemicals[:10])

['alpha-carotene', 'beta-carotene', 'gamma-carotene', 'delta-carotene', 'epsilon-carotene', 'lycopene', 'neurosporene', 'phytofluene', 'phytoene', 'canthaxanthin']

In [15]:
# UPDATE 2
drug_ingredients = pd.read_csv('data/triplets/ingredients.tsv', sep='\t', index_col=[0])
drug_compounds = list(set(drug_ingredients.ingredient))
drug_compounds = [x.lower().strip() for x in drug_compounds]
 
# print(drug_compounds[:10])
 
phytochemicals += drug_compounds
# print(phytochemicals[:20])

In [16]:
def get_phytochemicals(food_content, phytochemicals):
    compounds = []
    for compound_id in list(food_content.source_id):
        compound_name = food_content[food_content['source_id'] == compound_id].orig_source_name.values[0]
        if type(compound_name) is float:
            continue
#         print(compound_name)
        if compound_name.lower() in phytochemicals: # set operation faster??
#             print(compound_name)
            compounds.append(compound_id)
    return compounds

In [17]:
# returns dictionary of top k most contributing compounds of the given food (food_content)
# compound_id : contribution score
def contribution_scores(food_content, k=10):
    compounds = dict()

    content_all = food_content[food_content['orig_unit'] == 'mg/100g'].orig_content.sum()
    
    for compound_id in list(food_content.source_id):
        score = 0 # no content information -> score = 0
        if content_all:
            score = food_content[food_content['source_id'] == compound_id].orig_content.values[0] / content_all
        compounds[compound_id] = score

    compounds = sorted(compounds.items(), key=lambda item: item[1], reverse=True)  
    
    top_compounds = dict(compounds[:k])
    return top_compounds

In [18]:
# for each most contributing compound of a food returns:
# public_id, source_id, name of the compound, cas number and contribution score
def map_to_compounds(compounds):
    compounds_list = list()
#     for k, v in compounds.items():
    for k in compounds:
        compound_info = compound[compound['id'] == k]
        if not compound_info.empty:
            compounds_list.append({
                'public_id': compound_info.public_id.values[0], 
                'source_id': k,
                'name': compound_info.name.values[0],
                'cas_number': compound_info.cas_number.values[0],
#                 'contribution_score': round(v, 5)
            })
            
    return compounds_list

In [19]:
food_content = content[content['food_id'] == 4]
food_content = food_content.dropna(subset=['orig_content'])

# most_contribution_compounds = contribution_scores(food_content)
# kiwi_compounds = map_to_compounds(most_contribution_compounds)

compounds = get_phytochemicals(food_content, phytochemicals)
kiwi_compounds = map_to_compounds(compounds)

print(kiwi_compounds)

[{'public_id': 'FDB014613', 'source_id': 14616, 'name': 'beta-Carotene', 'cas_number': '7235-40-7'}, {'public_id': 'FDB021586', 'source_id': 21596, 'name': 'Vitamin D', 'cas_number': '1406-16-2'}, {'public_id': 'FDB008322', 'source_id': 8323, 'name': 'Pantothenic acid', 'cas_number': '79-83-4'}, {'public_id': 'FDB014510', 'source_id': 14513, 'name': 'Biotin', 'cas_number': '58-85-5'}, {'public_id': 'FDB012528', 'source_id': 12531, 'name': 'D-Fructose', 'cas_number': '53188-23-1'}, {'public_id': 'FDB001145', 'source_id': 1145, 'name': 'Lactose', 'cas_number': '63-42-3'}, {'public_id': 'FDB013269', 'source_id': 13272, 'name': 'Cholesterol', 'cas_number': '57-88-5'}, {'public_id': 'FDB012397', 'source_id': 12400, 'name': 'L-Isoleucine', 'cas_number': '73-32-5'}, {'public_id': 'FDB001946', 'source_id': 1946, 'name': 'L-Leucine', 'cas_number': '61-90-5'}, {'public_id': 'FDB000474', 'source_id': 474, 'name': 'L-Lysine', 'cas_number': '56-87-1'}, {'public_id': 'FDB012683', 'source_id': 12686, 'name': 'L-Methionine', 'cas_number': '63-68-3'}, {'public_id': 'FDB012563', 'source_id': 12566, 'name': 'L-Cystine', 'cas_number': '56-89-3'}, {'public_id': 'FDB000446', 'source_id': 446, 'name': 'L-Tyrosine', 'cas_number': '60-18-4'}, {'public_id': 'FDB011999', 'source_id': 12002, 'name': 'L-Threonine', 'cas_number': '72-19-5'}, {'public_id': 'FDB002250', 'source_id': 2250, 'name': 'L-Tryptophan', 'cas_number': '73-22-3'}, {'public_id': 'FDB002257', 'source_id': 2257, 'name': 'Arginine', 'cas_number': '74-79-3'}, {'public_id': 'FDB011856', 'source_id': 11859, 'name': 'L-Histidine', 'cas_number': '71-00-1'}, {'public_id': 'FDB000556', 'source_id': 556, 'name': 'L-Alanine', 'cas_number': '56-41-7'}, {'public_id': 'FDB012567', 'source_id': 12570, 'name': 'L-Aspartic acid', 'cas_number': '56-84-8'}, {'public_id': 'FDB012535', 'source_id': 12538, 'name': 'L-Glutamic acid', 'cas_number': '56-86-0'}, {'public_id': 'FDB000484', 'source_id': 484, 'name': 'Glycine', 'cas_number': '56-40-6'}, {'public_id': 'FDB000570', 'source_id': 570, 'name': 'L-Proline', 'cas_number': '147-85-3'}, {'public_id': 'FDB012739', 'source_id': 12742, 'name': 'L-Serine', 'cas_number': '56-45-1'}, {'public_id': 'FDB002100', 'source_id': 2100, 'name': 'Caffeine', 'cas_number': '58-08-2'}, {'public_id': 'FDB012703', 'source_id': 12706, 'name': 'D-Galactose', 'cas_number': '59-23-4'}, {'public_id': 'FDB013716', 'source_id': 13719, 'name': 'alpha-Carotene', 'cas_number': '7488-99-5'}, {'public_id': 'FDB014534', 'source_id': 14537, 'name': 'Lycopene', 'cas_number': '502-65-8'}, {'public_id': 'FDB009020', 'source_id': 9021, 'name': 'Betaine', 'cas_number': '107-43-7'}, {'public_id': 'FDB002798', 'source_id': 2798, 'name': 'Apigenin', 'cas_number': '520-36-5'}, {'public_id': 'FDB013255', 'source_id': 13258, 'name': 'Luteolin', 'cas_number': '491-70-3'}, {'public_id': 'FDB000633', 'source_id': 633, 'name': 'Kaempferol', 'cas_number': '520-18-3'}, {'public_id': 'FDB012724', 'source_id': 12727, 'name': 'Myricetin', 'cas_number': '529-44-2'}, {'public_id': 'FDB011904', 'source_id': 11907, 'name': 'Quercetin', 'cas_number': '117-39-5'}, {'public_id': 'FDB014417', 'source_id': 14420, 'name': '(-)-Matairesinol', 'cas_number': '580-72-3'}, {'public_id': 'FDB002760', 'source_id': 2760, 'name': '(+)-Pinoresinol', 'cas_number': '487-36-5'}, {'public_id': 'FDB012660', 'source_id': 12663, 'name': 'Secoisolariciresinol', 'cas_number': nan}, {'public_id': 'FDB015471', 'source_id': 15475, 'name': 'Lutein', 'cas_number': '127-40-2'}, {'public_id': 'FDB021453', 'source_id': 21462, 'name': 'Pectic acid', 'cas_number': '9046-40-6'}]

In [20]:
# returns most contributing compounds for all food
def food_compounds(phytochemicals):
    food_ids = food.id.values
    food_compounds_dict = dict()

    for f_id in food_ids:
        food_content = content[content['food_id'] == f_id]
        # food_content = food_content.dropna(subset=['orig_content'])
        # most_contribution_compounds = contribution_scores(food_content)
        most_contribution_compounds = get_phytochemicals(food_content, phytochemicals)
        food_compounds_dict[str(f_id)] = map_to_compounds(most_contribution_compounds)

    return food_compounds_dict

In [21]:
food_compounds_dict = food_compounds(phytochemicals)

In [ ]:
import json

with open('data/most_contributing_food_compounds.json', 'w') as f:
    f.write(json.dumps(food_compounds_dict))

In [ ]:
# example
i = 50

print(food[food['id'] == i].name)
print(food_compounds_dict[str(i)])

49    Chinese cinnamon
Name: name, dtype: object
[{'public_id': 'FDB001131', 'source_id': 1131, 'name': 'Sucrose', 'cas_number': '57-50-1'}, {'public_id': 'FDB012528', 'source_id': 12531, 'name': 'D-Fructose', 'cas_number': '53188-23-1'}, {'public_id': 'FDB001145', 'source_id': 1145, 'name': 'Lactose', 'cas_number': '63-42-3'}, {'public_id': 'FDB002100', 'source_id': 2100, 'name': 'Caffeine', 'cas_number': '58-08-2'}, {'public_id': 'FDB012703', 'source_id': 12706, 'name': 'D-Galactose', 'cas_number': '59-23-4'}, {'public_id': 'FDB014613', 'source_id': 14616, 'name': 'beta-Carotene', 'cas_number': '7235-40-7'}, {'public_id': 'FDB013716', 'source_id': 13719, 'name': 'alpha-Carotene', 'cas_number': '7488-99-5'}, {'public_id': 'FDB021586', 'source_id': 21596, 'name': 'Vitamin D', 'cas_number': '1406-16-2'}, {'public_id': 'FDB014534', 'source_id': 14537, 'name': 'Lycopene', 'cas_number': '502-65-8'}, {'public_id': 'FDB012160', 'source_id': 12163, 'name': 'Riboflavine', 'cas_number': '83-88-5'}, {'public_id': 'FDB001014', 'source_id': 1014, 'name': 'Nicotinic acid', 'cas_number': '59-67-6'}, {'public_id': 'FDB008322', 'source_id': 8323, 'name': 'Pantothenic acid', 'cas_number': '79-83-4'}, {'public_id': 'FDB009020', 'source_id': 9021, 'name': 'Betaine', 'cas_number': '107-43-7'}, {'public_id': 'FDB002250', 'source_id': 2250, 'name': 'L-Tryptophan', 'cas_number': '73-22-3'}, {'public_id': 'FDB011999', 'source_id': 12002, 'name': 'L-Threonine', 'cas_number': '72-19-5'}, {'public_id': 'FDB012397', 'source_id': 12400, 'name': 'L-Isoleucine', 'cas_number': '73-32-5'}, {'public_id': 'FDB001946', 'source_id': 1946, 'name': 'L-Leucine', 'cas_number': '61-90-5'}, {'public_id': 'FDB000474', 'source_id': 474, 'name': 'L-Lysine', 'cas_number': '56-87-1'}, {'public_id': 'FDB012683', 'source_id': 12686, 'name': 'L-Methionine', 'cas_number': '63-68-3'}, {'public_id': 'FDB012563', 'source_id': 12566, 'name': 'L-Cystine', 'cas_number': '56-89-3'}, {'public_id': 'FDB000446', 'source_id': 446, 'name': 'L-Tyrosine', 'cas_number': '60-18-4'}, {'public_id': 'FDB002257', 'source_id': 2257, 'name': 'Arginine', 'cas_number': '74-79-3'}, {'public_id': 'FDB011856', 'source_id': 11859, 'name': 'L-Histidine', 'cas_number': '71-00-1'}, {'public_id': 'FDB000556', 'source_id': 556, 'name': 'L-Alanine', 'cas_number': '56-41-7'}, {'public_id': 'FDB012567', 'source_id': 12570, 'name': 'L-Aspartic acid', 'cas_number': '56-84-8'}, {'public_id': 'FDB012535', 'source_id': 12538, 'name': 'L-Glutamic acid', 'cas_number': '56-86-0'}, {'public_id': 'FDB000484', 'source_id': 484, 'name': 'Glycine', 'cas_number': '56-40-6'}, {'public_id': 'FDB000570', 'source_id': 570, 'name': 'L-Proline', 'cas_number': '147-85-3'}, {'public_id': 'FDB012739', 'source_id': 12742, 'name': 'L-Serine', 'cas_number': '56-45-1'}, {'public_id': 'FDB013511', 'source_id': 13514, 'name': '4-Hydroxyproline', 'cas_number': '51-35-4'}, {'public_id': 'FDB013269', 'source_id': 13272, 'name': 'Cholesterol', 'cas_number': '57-88-5'}, {'public_id': 'FDB012052', 'source_id': 12055, 'name': 'Cinnamic acid', 'cas_number': '621-82-9'}, {'public_id': 'FDB002728', 'source_id': 2728, 'name': 'Isoeugenol', 'cas_number': '97-54-1'}, {'public_id': 'FDB003516', 'source_id': 3517, 'name': 'Chromium', 'cas_number': '7440-47-3'}, {'public_id': 'FDB003635', 'source_id': 3636, 'name': 'Iodine', 'cas_number': '7553-56-2'}, {'public_id': 'FDB003783', 'source_id': 3784, 'name': 'Rubidium', 'cas_number': '7440-17-7'}, {'public_id': 'FDB008781', 'source_id': 8782, 'name': '3-Phenyl-2-propenal', 'cas_number': '104-55-2'}, {'public_id': 'FDB008789', 'source_id': 8790, 'name': '4-Methylphenol', 'cas_number': '106-44-5'}, {'public_id': 'FDB009065', 'source_id': 9066, 'name': 'Camphene', 'cas_number': '79-92-5'}, {'public_id': 'FDB011885', 'source_id': 11888, 'name': '2-Methoxyphenol', 'cas_number': '90-05-1'}, {'public_id': 'FDB012171', 'source_id': 12174, 'name': 'Eugenol', 'cas_number': '97-53-0'}, {'public_id': 'FDB013516', 'source_id': 13519, 'name': '4(10)-Thujene', 'cas_number': '3387-41-5'}, {'public_id': 'FDB013567', 'source_id': 13570, 'name': 'Limonene', 'cas_number': '138-86-3'}, {'public_id': 'FDB014940', 'source_id': 14943, 'name': 'Linalool', 'cas_number': '78-70-6'}, {'public_id': 'FDB016249', 'source_id': 16256, 'name': 'Chlorine', 'cas_number': '7782-50-5'}, {'public_id': 'FDB017358', 'source_id': 17365, 'name': '1-Isopropyl-4-methylbenzene', 'cas_number': '99-87-6'}]