## BioKG dataset - subgraph extraction
Extracting drug nodes with coressponding relations, which are also in DrugBank. To obtain new information for learning my KG.

In [61]:
import pandas as pd
import itertools

import torch
import torch_geometric.transforms as T
import torch_geometric.utils as U

from ogb.linkproppred import PygLinkPropPredDataset

In [62]:
biokg_dataset_dir = '../data/dataset-ogb/'
drugbank_dir = '../data/triplets/'

In [63]:
drugs_drugbank = pd.read_csv(drugbank_dir + 'drug_atc_codes.tsv', sep='\t', index_col=[0])

In [64]:
drugs_drugbank = drugs_drugbank.drop(columns=['relation'])
drugs_drugbank

           id atc_code
1     DB00001  B01AE02
2     DB00002  L01XC06
3     DB00003  R05CB13
4     DB00004  L01XX29
5     DB00005  L04AB01
...       ...      ...
4015  DB15598  B03AB10
4016  DB15874  A16AB03
4017  DB16024  V04CX01
4018  DB16581  L04AX08
4019  DB16624  V09GX01

[4019 rows x 2 columns]

In [65]:
dataset = PygLinkPropPredDataset(name='ogbl-biokg', root=biokg_dataset_dir, transform=T.ToSparseTensor())
data = dataset[0]
data

Data(
  num_nodes_dict={
    disease=10687,
    drug=10533,
    function=45085,
    protein=17499,
    sideeffect=9969
  },
  edge_index_dict={
    (disease, disease-protein, protein)=[2, 73547],
    (drug, drug-disease, disease)=[2, 5147],
    (drug, drug-drug_acquired_metabolic_disease, drug)=[2, 63430],
    (drug, drug-drug_bacterial_infectious_disease, drug)=[2, 18554],
    (drug, drug-drug_benign_neoplasm, drug)=[2, 30348],
    (drug, drug-drug_cancer, drug)=[2, 48514],
    (drug, drug-drug_cardiovascular_system_disease, drug)=[2, 94842],
    (drug, drug-drug_chromosomal_disease, drug)=[2, 316],
    (drug, drug-drug_cognitive_disorder, drug)=[2, 34660],
    (drug, drug-drug_cryptorchidism, drug)=[2, 128],
    (drug, drug-drug_developmental_disorder_of_mental_health, drug)=[2, 14314],
    (drug, drug-drug_endocrine_system_disease, drug)=[2, 55994],
    (drug, drug-drug_fungal_infectious_disease, drug)=[2, 36114],
    (drug, drug-drug_gastrointestinal_system_disease, drug)=[2, 83210],
    (drug, drug-drug_hematopoietic_system_disease, drug)=[2, 79202],
    (drug, drug-drug_hematopoietic_system_diseases, drug)=[2, 3006],
    (drug, drug-drug_hypospadias, drug)=[2, 292],
    (drug, drug-drug_immune_system_disease, drug)=[2, 34242],
    (drug, drug-drug_inherited_metabolic_disorder, drug)=[2, 36492],
    (drug, drug-drug_integumentary_system_disease, drug)=[2, 73902],
    (drug, drug-drug_irritable_bowel_syndrome, drug)=[2, 8528],
    (drug, drug-drug_monogenic_disease, drug)=[2, 600],
    (drug, drug-drug_musculoskeletal_system_disease, drug)=[2, 57926],
    (drug, drug-drug_nervous_system_disease, drug)=[2, 80208],
    (drug, drug-drug_orofacial_cleft, drug)=[2, 380],
    (drug, drug-drug_parasitic_infectious_disease, drug)=[2, 1680],
    (drug, drug-drug_personality_disorder, drug)=[2, 972],
    (drug, drug-drug_polycystic_ovary_syndrome, drug)=[2, 514],
    (drug, drug-drug_pre-malignant_neoplasm, drug)=[2, 3224],
    (drug, drug-drug_psoriatic_arthritis, drug)=[2, 2014],
    (drug, drug-drug_reproductive_system_disease, drug)=[2, 17006],
    (drug, drug-drug_respiratory_system_disease, drug)=[2, 82168],
    (drug, drug-drug_sexual_disorder, drug)=[2, 1260],
    (drug, drug-drug_sleep_disorder, drug)=[2, 25860],
    (drug, drug-drug_somatoform_disorder, drug)=[2, 2214],
    (drug, drug-drug_struct_sim, drug)=[2, 26348],
    (drug, drug-drug_substance-related_disorder, drug)=[2, 4392],
    (drug, drug-drug_thoracic_disease, drug)=[2, 4660],
    (drug, drug-drug_urinary_system_disease, drug)=[2, 67326],
    (drug, drug-drug_viral_infectious_disease, drug)=[2, 38846],
    (drug, drug-protein, protein)=[2, 117930],
    (drug, drug-sideeffect, sideeffect)=[2, 157479],
    (function, function-function, function)=[2, 1433230],
    (protein, protein-function, function)=[2, 777577],
    (protein, protein-protein_activation, protein)=[2, 73044],
    (protein, protein-protein_binding, protein)=[2, 292254],
    (protein, protein-protein_catalysis, protein)=[2, 303434],
    (protein, protein-protein_expression, protein)=[2, 1952],
    (protein, protein-protein_inhibition, protein)=[2, 25732],
    (protein, protein-protein_ptmod, protein)=[2, 15120],
    (protein, protein-protein_reaction, protein)=[2, 352546]
  },
  edge_reltype={
    (disease, disease-protein, protein)=[73547, 1],
    (drug, drug-disease, disease)=[5147, 1],
    (drug, drug-drug_acquired_metabolic_disease, drug)=[63430, 1],
    (drug, drug-drug_bacterial_infectious_disease, drug)=[18554, 1],
    (drug, drug-drug_benign_neoplasm, drug)=[30348, 1],
    (drug, drug-drug_cancer, drug)=[48514, 1],
    (drug, drug-drug_cardiovascular_system_disease, drug)=[94842, 1],
    (drug, drug-drug_chromosomal_disease, drug)=[316, 1],
    (drug, drug-drug_cognitive_disorder, drug)=[34660, 1],
    (drug, drug-drug_cryptorchidism, drug)=[128, 1],
    (drug, drug-drug_developmental_disorder_of_mental_health, drug)=[14314, 1],
    (drug, drug-drug_endocrine_system_disease, drug)=[55994, 1],
    (drug, drug-drug_fungal_infectious_disease, drug)=[36114, 1],
    (drug, drug-drug_gastrointestinal_system_disease, drug)=[83210, 1],
    (drug, drug-drug_hematopoietic_system_disease, drug)=[79202, 1],
    (drug, drug-drug_hematopoietic_system_diseases, drug)=[3006, 1],
    (drug, drug-drug_hypospadias, drug)=[292, 1],
    (drug, drug-drug_immune_system_disease, drug)=[34242, 1],
    (drug, drug-drug_inherited_metabolic_disorder, drug)=[36492, 1],
    (drug, drug-drug_integumentary_system_disease, drug)=[73902, 1],
    (drug, drug-drug_irritable_bowel_syndrome, drug)=[8528, 1],
    (drug, drug-drug_monogenic_disease, drug)=[600, 1],
    (drug, drug-drug_musculoskeletal_system_disease, drug)=[57926, 1],
    (drug, drug-drug_nervous_system_disease, drug)=[80208, 1],
    (drug, drug-drug_orofacial_cleft, drug)=[380, 1],
    (drug, drug-drug_parasitic_infectious_disease, drug)=[1680, 1],
    (drug, drug-drug_personality_disorder, drug)=[972, 1],
    (drug, drug-drug_polycystic_ovary_syndrome, drug)=[514, 1],
    (drug, drug-drug_pre-malignant_neoplasm, drug)=[3224, 1],
    (drug, drug-drug_psoriatic_arthritis, drug)=[2014, 1],
    (drug, drug-drug_reproductive_system_disease, drug)=[17006, 1],
    (drug, drug-drug_respiratory_system_disease, drug)=[82168, 1],
    (drug, drug-drug_sexual_disorder, drug)=[1260, 1],
    (drug, drug-drug_sleep_disorder, drug)=[25860, 1],
    (drug, drug-drug_somatoform_disorder, drug)=[2214, 1],
    (drug, drug-drug_struct_sim, drug)=[26348, 1],
    (drug, drug-drug_substance-related_disorder, drug)=[4392, 1],
    (drug, drug-drug_thoracic_disease, drug)=[4660, 1],
    (drug, drug-drug_urinary_system_disease, drug)=[67326, 1],
    (drug, drug-drug_viral_infectious_disease, drug)=[38846, 1],
    (drug, drug-protein, protein)=[117930, 1],
    (drug, drug-sideeffect, sideeffect)=[157479, 1],
    (function, function-function, function)=[1433230, 1],
    (protein, protein-function, function)=[777577, 1],
    (protein, protein-protein_activation, protein)=[73044, 1],
    (protein, protein-protein_binding, protein)=[292254, 1],
    (protein, protein-protein_catalysis, protein)=[303434, 1],
    (protein, protein-protein_expression, protein)=[1952, 1],
    (protein, protein-protein_inhibition, protein)=[25732, 1],
    (protein, protein-protein_ptmod, protein)=[15120, 1],
    (protein, protein-protein_reaction, protein)=[352546, 1]
  }
)

In [66]:
drug_entidx2stitch = pd.read_csv(biokg_dataset_dir + 'ogbl_biokg/mapping/drug_entidx2name.csv', index_col=[0])
drug_entidx2stitch.reset_index(inplace=True)
drug_entidx2stitch

       ent idx      ent name
0            0  CID000000001
1            1  CID000000010
2            2  CID000000014
3            3  CID000000015
4            4  CID000000037
...        ...           ...
10528    10528  CID125880656
10529    10529  CID144462760
10530    10530  CID151508717
10531    10531  CID151601240
10532    10532  CID154677977

[10533 rows x 2 columns]

#### Mapping STITCH (CID) ids to DrugBank ids or ATC codes
1. download mappings from STITCH database -> keep only ATC codes -> correct CIDs/m -> CID0/1
2. dowload mappings from https://github.com/iit-Demokritos/drug_id_mapping -> compare with mapping obtained from 1. -> if the mapping is correct -> use this one (no further preprocessing needed)

In [67]:
# download http://stitch.embl.de/download/chemical.sources.v5.0.tsv.gz 
# I deleted it because it occupies a lot of memory
# I'm using only part of it - cid2atc

# skip = list(range(9))
# cid2atc = pd.read_csv('../data/chemical.sources.v5.0.tsv', sep='\t', skiprows=skip, names=['cidm', 'cids', 'source', 'id'])
# cid2atc

CIDs / CID0... - this is a stereo-specific compound, and the suffix is the 
PubChem compound id.

CIDm / CID1... - this is a "flat" compound, i.e. with merged stereo-isomers
The suffix (without the leading "1") is the PubChem compound id.

In [68]:
# cid2atc = cid2atc[cid2atc.source == 'ATC']
# cid2atc = cid2atc.drop(columns=['source'])
# cid2atc = cid2atc.rename(columns={'id':'atc'})
# cid2atc['cidm'] = cid2atc['cidm'].str.replace(r'm', r'1')
# cid2atc['cids'] = cid2atc['cids'].str.replace(r's', r'0')
# print(cid2atc.head())
# cid2atc.to_csv('../data/cid2atc.csv')

cid2atc = pd.read_csv('../data/cid2atc.csv', index_col=[0])
cid2atc.sort_values(by=['cids'])

              cidm          cids      atc
519   CID100000001  CID000000001  N06BX12
892   CID100000119  CID000000119  L03AA03
2998  CID100000119  CID000000119  N03AG03
1362  CID100000137  CID000000137  L01XD04
1217  CID100000174  CID000000174  A06AD15
...            ...           ...      ...
1063  CID188516236  CID090470007  L04AC03
273   CID190470996  CID090470996  B02BD30
272   CID190470996  CID090470996  B02BC06
1934  CID116139342  CID090472060  A10BX10
2150  CID191663255  CID091663255  V03AE05

[3386 rows x 3 columns]

In [69]:
# merge cid2atc and drug_entidx2stitch on cidm/s

merged = drug_entidx2stitch.merge(cid2atc, how='inner', left_on='ent name', right_on='cids')
merged
# merged.merge(cid2atc, how='left', left_on='ent name', right_on='cidm')

      ent idx      ent name          cidm          cids      atc
0           0  CID000000001  CID100000001  CID000000001  N06BX12
1          17  CID000000119  CID100000119  CID000000119  L03AA03
2          17  CID000000119  CID100000119  CID000000119  N03AG03
3          21  CID000000137  CID100000137  CID000000137  L01XD04
4          39  CID000000187  CID100000187  CID000000187  S01EB09
...       ...           ...           ...           ...      ...
1710     9217  CID054684141  CID154677977  CID054684141  L04AA31
1711     9218  CID054686350  CID154686350  CID054686350  N02BA03
1712     9224  CID056603701  CID156603701  CID056603701  L04AC06
1713     9264  CID056842117  CID156842117  CID056842117  L01XC06
1714     9454  CID071717894  CID171717894  CID071717894  C04AE01

[1715 rows x 5 columns]

In [70]:
# https://github.com/iit-Demokritos/drug_id_mapping
# !! cite if I use it !!

drugs_mapping = pd.read_csv('../data/drug-idx-mappings.tsv', sep='\t', index_col=[0])
drugs_mapping = drugs_mapping[['name', 'stitch_id']].dropna()
drugs_mapping.reset_index(inplace=True)
drugs_mapping

     drugbankId          name     stitch_id
0       DB01101  Capecitabine  CID000060953
1       DB01100      Pimozide  CID000016362
2       DB01105   Sibutramine  CID000005210
3       DB01104    Sertraline  CID100005203
4       DB01109       Heparin  CID153477714
...         ...           ...           ...
1243    DB01058  Praziquantel  CID000004891
1244    DB01059   Norfloxacin  CID000004539
1245    DB01037      Deprenyl  CID000026757
1246    DB00188        PS-341  CID000387447
1247    DB00184  [3H]nicotine  CID000089594

[1248 rows x 3 columns]

In [71]:
# check if cid-atc/drugbankID matches in downloaded mapping (drugs_mapping) and cid2atc
drugs_mapping_atc = drugs_mapping.merge(drugs_drugbank, how='left', left_on='drugbankId', right_on='id')
drugs_mapping_atc = drugs_mapping_atc.dropna()

drugs_mapping_atc_cid = drugs_mapping_atc.merge(cid2atc, how='inner', left_on='atc_code', right_on='atc')
drugs_mapping_atc_cid

,drugbankId,name,stitch_id,id,atc_code,cidm,cids,atc
0,DB01101,Capecitabine,CID000060953,DB01101,L01BC06,CID100060953,CID000060953,L01BC06
1,DB01100,Pimozide,CID000016362,DB01100,N05AG02,CID100016362,CID000016362,N05AG02
2,DB01105,Sibutramine,CID000005210,DB01105,A08AA10,CID100005210,CID000005210,A08AA10
3,DB01104,Sertraline,CID100005203,DB01104,N06AB06,CID100005203,CID000063009,N06AB06
4,DB01109,Heparin,CID153477714,DB01109,C05BA03,CID100000772,CID000000772,C05BA03
...,...,...,...,...,...,...,...,...
1481,DB01050,Ibuprofen,CID000003672,DB01050,M02AA13,CID100003672,CID000003672,M02AA13
1482,DB01057,Echothiophate,CID100010547,DB01057,S01EB03,CID100010547,CID000010547,S01EB03
1483,DB01058,Praziquantel,CID000004891,DB01058,P02BA01,CID100004891,CID000004891,P02BA01
1484,DB01059,Norfloxacin,CID000004539,DB01059,S01AE02,CID100004539,CID000004539,S01AE02
1485,DB01059,Norfloxacin,CID000004539,DB01059,J01MA06,CID100004539,CID000004539,J01MA06

In [72]:
print(f'Mapping is the same in {(drugs_mapping_atc_cid["stitch_id"] == drugs_mapping_atc_cid["cids"]).sum()} / {drugs_mapping_atc_cid.shape[0]} cases')

not_same = drugs_mapping_atc_cid["stitch_id"] != drugs_mapping_atc_cid["cids"]
drugs_mapping_atc_cid[not_same]

Mapping is the same in 1167 / 1486 cases

,drugbankId,name,stitch_id,id,atc_code,cidm,cids,atc
3,DB01104,Sertraline,CID100005203,DB01104,N06AB06,CID100005203,CID000063009,N06AB06
4,DB01109,Heparin,CID153477714,DB01109,C05BA03,CID100000772,CID000000772,C05BA03
5,DB01109,Heparin,CID153477714,DB01109,S01XA14,CID100000772,CID000000772,S01XA14
6,DB01109,Heparin,CID153477714,DB01109,B01AB01,CID100000772,CID000000772,B01AB01
7,DB01106,Levocabastine,CID100003915,DB01106,R01AC02,CID100003915,CID000054384,R01AC02
...,...,...,...,...,...,...,...,...
1455,DB01026,Ketoconazole,CID100003823,DB01026,D01AC08,CID100003823,CID000456201,D01AC08
1457,DB01030,Topotecan,CID100005515,DB01030,L01XX17,CID100005515,CID000060699,L01XX17
1462,DB01036,Tolterodine,CID100005512,DB01036,G04BD07,CID100005512,CID000443878,G04BD07
1477,DB01053,Benzylpenicillin,CID000005904,DB01053,J01CE08,CID100015232,CID000015232,J01CE08
1482,DB01057,Echothiophate,CID100010547,DB01057,S01EB03,CID100010547,CID000010547,S01EB03

Downloaded mapping (drugs_mapping) is correct (not same rows are same as cidm instead of cids)

In [73]:
stitch2drugbank = drug_entidx2stitch.merge(drugs_mapping, how='inner', left_on='ent name', right_on='stitch_id')
stitch2drugbank = stitch2drugbank.drop(columns=['ent name'])
stitch2drugbank

     ent idx drugbankId                     name     stitch_id
0         17    DB02530  gamma-Aminobutyric acid  CID000000119
1         21    DB00855      Aminolevulinic acid  CID000000137
2         39    DB03128            Acetylcholine  CID000000187
3         59    DB06770           Benzyl alcohol  CID000000244
4         61    DB06756          Glycine betaine  CID000000247
..       ...        ...                      ...           ...
950    10519    DB06817              Raltegravir  CID123668479
951    10520    DB00554                Piroxicam  CID123690938
952    10526    DB00050               Cetrorelix  CID125074886
953    10530    DB00469                Tenoxicam  CID151508717
954    10531    DB00618           Demeclocycline  CID151601240

[955 rows x 4 columns]

### Selecting indices in BioKG 
Select only indices whose drugbankID is also in my data (drugs_drugbank)

In [ ]:
idx2keep = stitch2drugbank.merge(drugs_drugbank, how='inner', left_on='drugbankId', right_on='id')
idx2keep = idx2keep.drop_duplicates(subset=['ent idx'])
drugs2keep = torch.tensor(list(idx2keep['ent idx']))
drugs2keep

#### Select the subgraph

1. Select subgraph with drug_ids in drugs2keep
    - relations: drug - * - drug, drug - * - *, * - * - drug, where drug in drugs2keep
2. Add relations node_type1 - * - node_type2 to the subgraph, where both node_type1 and node_type2 were selected in 1., and node_type1 and node_type 2 can be same or different node type

In [75]:
idx2drugbank = idx2keep[['ent idx', 'drugbankId']].set_index('ent idx')['drugbankId'].to_dict()
idx2drugbank

{21: 'DB00855',
 39: 'DB03128',
 59: 'DB06770',
 61: 'DB06756',
 73: 'DB09278',
 78: 'DB04272',
 84: 'DB00936',
 103: 'DB01156',
 121: 'DB00513',
 126: 'DB09110',
 132: 'DB04398',
 152: 'DB01093',
 153: 'DB00988',
 162: 'DB00431',
 169: 'DB00145',
 170: 'DB09462',
 176: 'DB05381',
 180: 'DB09526',
 211: 'DB01065',
 227: 'DB06690',
 246: 'DB00339',
 250: 'DB00165',
 272: 'DB00152',
 360: 'DB06637',
 365: 'DB00252',
 394: 'DB01193',
 396: 'DB00316',
 397: 'DB00819',
 399: 'DB00551',
 400: 'DB06709',
 405: 'DB00787',
 411: 'DB00518',
 412: 'DB01001',
 414: 'DB00630',
 416: 'DB00346',
 418: 'DB00437',
 420: 'DB00969',
 424: 'DB00404',
 426: 'DB00488',
 427: 'DB00915',
 432: 'DB01143',
 434: 'DB00357',
 435: 'DB00345',
 437: 'DB00277',
 440: 'DB06288',
 441: 'DB00321',
 442: 'DB01025',
 443: 'DB00381',
 444: 'DB00543',
 449: 'DB00276',
 451: 'DB00261',
 452: 'DB01217',
 458: 'DB00964',
 465: 'DB00945',
 469: 'DB00335',
 471: 'DB00993',
 472: 'DB00548',
 473: 'DB00972',
 479: 'DB00181',
 487: 'DB00436',
 490: 'DB01086',
 494: 'DB00676',
 497: 'DB01244',
 499: 'DB06698',
 501: 'DB00195',
 502: 'DB01019',
 504: 'DB01128',
 508: 'DB09020',
 509: 'DB00612',
 511: 'DB01158',
 512: 'DB00484',
 514: 'DB01558',
 515: 'DB09019',
 527: 'DB00887',
 530: 'DB00297',
 533: 'DB00490',
 534: 'DB01008',
 535: 'DB01091',
 539: 'DB00201',
 540: 'DB00661',
 554: 'DB00564',
 558: 'DB00748',
 560: 'DB00395',
 561: 'DB00262',
 563: 'DB00521',
 565: 'DB01136',
 598: 'DB00482',
 599: 'DB04846',
 605: 'DB00341',
 609: 'DB00291',
 612: 'DB00475',
 615: 'DB00608',
 616: 'DB00880',
 617: 'DB01114',
 618: 'DB00477',
 619: 'DB00672',
 621: 'DB00310',
 622: 'DB00356',
 628: 'DB01188',
 633: 'DB00501',
 636: 'DB00827',
 638: 'DB00537',
 640: 'DB00215',
 646: 'DB00349',
 649: 'DB00845',
 652: 'DB01242',
 653: 'DB01068',
 654: 'DB00575',
 656: 'DB00628',
 658: 'DB00257',
 660: 'DB00363',
 674: 'DB00924',
 678: 'DB00979',
 679: 'DB00531',
 683: 'DB00434',
 691: 'DB00250',
 693: 'DB08826',
 694: 'DB00746',
 701: 'DB01151',
 709: 'DB00182',
 711: 'DB06243',
 714: 'DB00829',
 715: 'DB01119',
 720: 'DB01144',
 722: 'DB00804',
 729: 'DB00861',
 743: 'DB06782',
 746: 'DB01075',
 749: 'DB00449',
 751: 'DB00975',
 752: 'DB00280',
 754: 'DB00822',
 755: 'DB00313',
 761: 'DB01184',
 762: 'DB00843',
 765: 'DB00561',
 766: 'DB00590',
 773: 'DB00450',
 777: 'DB00651',
 780: 'DB01127',
 781: 'DB01010',
 785: 'DB01084',
 787: 'DB00228',
 792: 'DB00751',
 801: 'DB01215',
 807: 'DB00903',
 814: 'DB00593',
 815: 'DB00754',
 819: 'DB01077',
 822: 'DB00749',
 826: 'DB00426',
 828: 'DB00949',
 830: 'DB01023',
 832: 'DB01039',
 834: 'DB00573',
 836: 'DB00813',
 837: 'DB00950',
 839: 'DB01148',
 844: 'DB00196',
 845: 'DB01099',
 851: 'DB00623',
 852: 'DB01205',
 858: 'DB01544',
 862: 'DB00544',
 863: 'DB00472',
 869: 'DB00690',
 870: 'DB00712',
 873: 'DB00499',
 881: 'DB01213',
 883: 'DB00983',
 891: 'DB00695',
 893: 'DB00996',
 897: 'DB01004',
 900: 'DB01241',
 901: 'DB00798',
 904: 'DB01120',
 905: 'DB00222',
 906: 'DB01067',
 907: 'DB01016',
 911: 'DB00874',
 913: 'DB01018',
 916: 'DB00502',
 922: 'DB00756',
 929: 'DB01275',
 930: 'DB00999',
 936: 'DB00774',
 940: 'DB01611',
 943: 'DB01005',
 944: 'DB00557',
 951: 'DB01050',
 952: 'DB00780',
 953: 'DB00281',
 961: 'DB01181',
 964: 'DB00458',
 967: 'DB00808',
 969: 'DB00328',
 971: 'DB01249',
 972: 'DB01362',
 975: 'DB09156',
 976: 'DB09133',
 978: 'DB09134',
 979: 'DB09313',
 980: 'DB09135',
 983: 'DB01029',
 987: 'DB01247',
 990: 'DB00753',
 991: 'DB00951',
 995: 'DB01064',
 998: 'DB00270',
 1003: 'DB01221',
 1005: 'DB01009',
 1006: 'DB00465',
 1007: 'DB00920',
 1011: 'DB00598',
 1015: 'DB00555',
 1017: 'DB00448',
 1021: 'DB01097',
 1023: 'DB01006',
 1042: 'DB00978',
 1043: 'DB01206',
 1045: 'DB00455',
 1046: 'DB00186',
 1047: 'DB00678',
 1049: 'DB00408',
 1054: 'DB06795',
 1055: 'DB00772',
 1057: 'DB00934',
 1059: 'DB00643',
 1060: 'DB00657',
 1061: 'DB00888',
 1062: 'DB00737',
 1068: 'DB00784',
 1075: 'DB01043',
 1077: 'DB04843',
 1078: 'DB00454',
 1079: 'DB00532',
 1080: 'DB00961',
 1082: 'DB00371',
 1084: 'DB00244',
 1089: 'DB00816',
 1094: 'DB00331',
 1095: 'DB00333',
 1096: 'DB00703',
 1097: 'DB06799',
 1099: 'DB00423',
 1102: 'DB00553',
 1112: 'DB00422',
 1117: 'DB01233',
 1118: 'DB00524',
 1119: 'DB00264',
 1120: 'DB00916',
 1121: 'DB01011',
 1122: 'DB00379',
 1123: 'DB06148',
 1124: 'DB01110',
 1125: 'DB00683',
 1126: 'DB00211',
 1128: 'DB00235',
 1130: 'DB00350',
 1131: 'DB00370',
 1134: 'DB00648',
 1135: 'DB01204',
 1136: 'DB01171',
 1137: 'DB00745',
 1159: 'DB00461',
 1167: 'DB00779',
 1177: 'DB06711',
 1178: 'DB00952',
 1181: 'DB01149',
 1182: 'DB12293',
 1186: 'DB01400',
 1189: 'DB00238',
 1191: 'DB01115',
 1192: 'DB00665',
 1196: 'DB00393',
 1197: 'DB00401',
 1199: 'DB01595',
 1202: 'DB00727',
 1211: 'DB01059',
 1215: 'DB00540',
 1220: 'DB01165',
 1221: 'DB00334',
 1224: 'DB00338',
 1225: 'DB00904',
 1228: 'DB01173',
 1234: 'DB00991',
 1236: 'DB00842',
 1243: 'DB01580',
 1244: 'DB01062',
 1252: 'DB00233',
 1263: 'DB00213',
 1264: 'DB01113',
 1272: 'DB00299',
 1276: 'DB00738',
 1278: 'DB00312',
 1280: 'DB00806',
 1284: 'DB01074',
 1285: 'DB01608',
 1286: 'DB00850',
 1290: 'DB01438',
 1292: 'DB01174',
 1294: 'DB00925',
 1295: 'DB00191',
 1296: 'DB06819',
 1304: 'DB09242',
 1309: 'DB00960',
 1310: 'DB01132',
 1315: 'DB01291',
 1321: 'DB01324',
 1332: 'DB01058',
 1334: 'DB00457',
 1343: 'DB00750',
 1344: 'DB01087',
 1345: 'DB00794',
 1346: 'DB01032',
 1348: 'DB01035',
 1349: 'DB01168',
 1350: 'DB00433',
 1355: 'DB01069',
 1357: 'DB01182',
 1358: 'DB00782',
 1359: 'DB00807',
 1362: 'DB00818',
 1363: 'DB00571',
 1374: 'DB00344',
 1377: 'DB00545',
 1378: 'DB06691',
 1379: 'DB00205',
 1380: 'DB01589',
 1381: 'DB01224',
 1391: 'DB01129',
 1393: 'DB00481',
 1402: 'DB00740',
 1403: 'DB00478',
 1404: 'DB00734',
 1407: 'DB00953',
 1409: 'DB00533',
 1411: 'DB00268',
 1418: 'DB00938',
 1421: 'DB01399',
 1424: 'DB00418',
 1428: 'DB01236',
 1429: 'DB01105',
 1430: 'DB00203',
 1432: 'DB00359',
 1440: 'DB00884',
 1441: 'DB00489',
 1449: 'DB00619',
 1451: 'DB02546',
 1452: 'DB00202',
 1455: 'DB06820',
 1456: 'DB00634',
 1461: 'DB00259',
 1469: 'DB00669',
 1470: 'DB00870',
 1479: 'DB01044',
 1480: 'DB00799',
 1482: 'DB00231',
 1483: 'DB00853',
 1485: 'DB01162',
 1487: 'DB00871',
 1495: 'DB09085',
 1497: 'DB06764',
 1498: 'DB01041',
 1501: 'DB00730',
 1504: 'DB00679',
 1505: 'DB04572',
 1515: 'DB00208',
 1517: 'DB00911',
 1519: 'DB06823',
 1521: 'DB00697',
 1524: 'DB00839',
 1525: 'DB01124',
 1536: 'DB00302',
 1538: 'DB00752',
 1539: 'DB00656',
 1543: 'DB00384',
 1544: 'DB00897',
 1546: 'DB00831',
 1550: 'DB00376',
 1552: 'DB00440',
 1554: 'DB00726',
 1557: 'DB00197',
 1558: 'DB00809',
 1567: 'DB00705',
 1576: 'DB00285',
 1577: 'DB01080',
 1582: 'DB00549',
 1584: 'DB00962',
 1588: 'DB00425',
 1590: 'DB00909',
 1591: 'DB01198',
 1593: 'DB01234',
 1594: 'DB00305',
 1597: 'DB00741',
 1598: 'DB00860',
 1599: 'DB04573',
 1600: 'DB00783',
 1602: 'DB00206',
 1605: 'DB00692',
 1606: 'DB01638',
 1607: 'DB00322',
 1612: 'DB00451',
 1616: 'DB00421',
 1622: 'DB00635',
 1623: 'DB00655',
 1626: 'DB00621',
 1631: 'DB00249',
 1633: 'DB00279',
 1640: 'DB00446',
 1641: 'DB00130',
 1642: 'DB00541',
 1643: 'DB00981',
 1645: 'DB00396',
 1648: 'DB00714',
 1649: 'DB00650',
 1650: 'DB06710',
 1652: 'DB00624',
 1654: 'DB04844',
 1656: 'DB00158',
 1660: 'DB00847',
 1676: 'DB00591',
 1680: 'DB00717',
 1681: 'DB00260',
 1684: 'DB00742',
 1686: 'DB00432',
 1689: 'DB00603',
 1708: 'DB01185',
 1711: 'DB05246',
 1714: 'DB03754',
 1724: 'DB01176',
 1726: 'DB00959',
 1741: 'DB00937',
 1747: 'DB09096',
 1761: 'DB00868',
 1773: 'DB00696',
 1774: 'DB00353',
 1782: 'DB00452',
 1797: 'DB00607',
 1818: 'DB01223',
 1819: 'DB00928',
 1832: 'DB01047',
 1834: 'DB00674',
 1842: 'DB00443',
 1848: 'DB00324',
 1849: 'DB04839',
 1866: 'DB00647',
 1871: 'DB06777',
 1894: 'DB00320',
 1903: 'DB01179',
 1918: 'DB01577',
 1920: 'DB00583',
 1948: 'DB00351',
 1956: 'DB06151',
 1970: 'DB00199',
 1973: 'DB00632',
 1987: 'DB00367',
 1995: 'DB13872',
 1998: 'DB00570',
 2060: 'DB00846',
 2068: 'DB00919',
 2083: 'DB00470',
 2095: 'DB01100',
 2139: 'DB00485',
 2192: 'DB00242',
 2261: 'DB01618',
 2262: 'DB01592',
 2271: 'DB01593',
 2275: 'DB00943',
 2278: 'DB00971',
 2289: 'DB11150',
 2292: 'DB09322',
 2343: 'DB00720',
 2366: 'DB01037',
 2377: 'DB06153',
 2382: 'DB01020',
 2396: 'DB01406',
 2405: 'DB00589',
 2425: 'DB00694',
 2440: 'DB00620',
 2442: 'DB00687',
 2445: 'DB01586',
 2448: 'DB01214',
 2453: 'DB00997',
 2479: 'DB01327',
 2482: 'DB00373',
 2492: 'DB00776',
 2501: 'DB00495',
 2517: 'DB00773',
 2518: 'DB00644',
 2525: 'DB00841',
 2539: 'DB01359',
 2570: 'DB00958',
 2573: 'DB01393',
 2575: 'DB00343',
 2579: 'DB01210',
 2597: 'DB00304',
 2614: 'DB00507',
 2615: 'DB00708',
 2620: 'DB00214',
 2626: 'DB01189',
 2634: 'DB01177',
 2652: 'DB00715',
 2655: 'DB01197',
 2659: 'DB00360',
 2675: 'DB01186',
 2689: 'DB00716',
 2701: 'DB00802',
 2706: 'DB00419',
 2719: 'DB00227',
 2733: 'DB00641',
 2739: 'DB00175',
 2741: 'DB00248',
 2755: 'DB00834',
 2757: 'DB01167',
 2780: 'DB00243',
 2786: 'DB01216',
 2787: 'DB00724',
 2800: 'DB00187',
 2807: 'DB00210',
 2811: 'DB00990',
 2816: 'DB01208',
 2822: 'DB00758',
 2824: 'DB00369',
 2826: 'DB00906',
 2836: 'DB00963',
 2850: 'DB01238',
 2857: 'DB00709',
 2864: 'DB00177',
 2865: 'DB00710',
 2868: 'DB00558',
 2869: 'DB00315',
 2872: 'DB00718',
 2874: 'DB00879',
 2883: 'DB01101',
 2885: 'DB00640',
 2918: 'DB00375',
 2937: 'DB00685',
 2975: 'DB01610',
 2995: 'DB13873',
 3017: 'DB00701',
 3079: 'DB06769',
 3118: 'DB01153',
 3119: 'DB00528',
 3137: 'DB00912',
 3144: 'DB00966',
 3220: 'DB00399',
 3231: 'DB01194',
 3284: 'DB00659',
 3310: 'DB04861',
 3313: 'DB00204',
 3321: 'DB04946',
 3335: 'DB00582',
 3375: 'DB02638',
 3442: 'DB06211',
 3466: 'DB01117',
 3493: 'DB00998',
 3494: 'DB00216',
 3516: 'DB00307',
 3517: 'DB06594',
 3519: 'DB00180',
 3572: 'DB01211',
 3629: 'DB00184',
 3672: 'DB01002',
 3929: 'DB00293',
 3939: 'DB00559',
 3973: 'DB00790',
 4010: 'DB00862',
 4011: 'DB00820',
 4071: 'DB01267',
 4080: 'DB00348',
 4103: 'DB00631',
 4135: 'DB00580',
 4136: 'DB08439',
 4152: 'DB06775',
 4168: 'DB04953',
 4234: 'DB00918',
 4240: 'DB01628',
 4242: 'DB00317',
 4275: 'DB00967',
 4314: 'DB06700',
 4394: 'DB00563',
 4500: 'DB00706',
 4503: 'DB06201',
 4635: 'DB05812',
 4639: 'DB09083',
 4681: 'DB04854',
 4682: 'DB06193',
 4704: 'DB08910',
 4759: 'DB00435',
 4785: 'DB01175',
 4807: 'DB06813',
 4813: 'DB01072',
 4826: 'DB01137',
 4828: 'DB11596',
 4833: 'DB00973',
 4835: 'DB00303',
 4877: 'DB00872',
 4926: 'DB00442',
 4931: 'DB04920',
 4939: 'DB00424',
 4968: 'DB00788',
 5006: 'DB00275',
 5011: 'DB01265',
 5250: 'DB00362',
 5365: 'DB00572',
 5387: 'DB00530',
 5537: 'DB06414',
 5670: 'DB04855',
 5671: 'DB00980',
 5673: 'DB01259',
 5680: 'DB01264',
 5682: 'DB08815',
 5691: 'DB00398',
 5697: 'DB00480',
 5698: 'DB06202',
 5707: 'DB06213',
 5709: 'DB06218',
 5721: 'DB02659',
 5903: 'DB00188',
 5926: 'DB00503',
 5989: 'DB00368',
 6003: 'DB00552',
 6029: 'DB01048',
 6030: 'DB00491',
 6033: 'DB00251',
 6034: 'DB00601',
 6071: 'DB00700',
 6073: 'DB01253',
 6074: 'DB06786',
 6077: 'DB09070',
 6078: 'DB00538',
 6092: 'DB00162',
 6095: 'DB00864',
 6099: 'DB00439',
 6100: 'DB01098',
 6102: 'DB00907',
 6104: 'DB01024',
 6105: 'DB00410',
 6122: 'DB00523',
 6124: 'DB01656',
 6198: 'DB01263',
 6385: 'DB09421',
 6389: 'DB04868',
 6400: 'DB01073',
 6401: 'DB00550',
 6403: 'DB01033',
 6421: 'DB01623',
 6422: 'DB00402',
 6429: 'DB00763',
 6433: 'DB06774',
 6446: 'DB00352',
 6448: 'DB00390',
 6458: 'DB00609',
 6467: 'DB02703',
 6470: 'DB00863',
 6473: 'DB00976',
 6474: 'DB04835',
 6482: 'DB05521',
 6519: 'DB01083',
 6606: 'DB01254',
 6643: 'DB05294',
 6743: 'DB00658',
 6846: 'DB01261',
 6871: 'DB00323',
 6907: 'DB00917',
 6908: 'DB12789',
 6909: 'DB00136',
 6911: 'DB00153',
 6912: 'DB01222',
 6914: 'DB06412',
 6915: 'DB00876',
 6916: 'DB00471',
 6917: 'DB00768',
 6919: 'DB00494',
 6920: 'DB00910',
 6928: 'DB00287',
 6931: 'DB00982',
 6933: 'DB00929',
 6971: 'DB00318',
 6972: 'DB00869',
 6973: 'DB00889',
 6974: 'DB00956',
 6975: 'DB00327',
 6977: 'DB01183',
 6978: 'DB00497',
 6980: 'DB00877',
 6982: 'DB00273',
 6989: 'DB00295',
 6994: 'DB09055',
 6996: 'DB00905',
 7000: 'DB00547',
 7001: 'DB00633',
 7004: 'DB00596',
 7006: 'DB01088',
 7015: 'DB00844',
 7022: 'DB01624',
 7023: 'DB06207',
 7050: 'DB06616',
 7052: 'DB01268',
 7054: 'DB00239',
 7055: 'DB00733',
 7062: 'DB00704',
 7065: 'DB00514',
 7069: 'DB00671',
 7073: 'DB00178',
 7074: 'DB00460',
 7076: 'DB00224',
 7079: 'DB01045',
 7103: 'DB01112',
 7104: 'DB01212',
 7105: 'DB00300',
 7109: 'DB00519',
 7123: 'DB00230',
 7171: 'DB01609',
 7172: 'DB09026',
 7174: 'DB00493',
 7201: 'DB00615',
 7202: 'DB01201',
 7213: 'DB00377',
 7257: 'DB01220',
 7329: 'DB01590',
 7348: 'DB04845',
 7365: 'DB06626',
 7438: 'DB01410',
 7449: 'DB00673',
 7454: 'DB06209',
 7461: 'DB04876',
 7462: 'DB05039',
 7463: 'DB06702',
 7466: 'DB05015',
 7467: 'DB05013',
 7481: 'DB00878',
 7601: 'DB09142',
 7633: 'DB08827',
 7636: 'DB08906',
 7659: 'DB08816',
 7666: 'DB06228',
 7680: 'DB06292',
 7735: 'DB08895',
 7834: 'DB08882',
 7839: 'DB06589',
 7855: 'DB06771',
 7856: 'DB06605',
 7858: 'DB08916',
 7901: 'DB08873',
 8033: 'DB08896',
 8051: 'DB08822',
 8054: 'DB06335',
 8085: 'DB06203',
 8118: 'DB08865',
 8135: 'DB08911',
 8315: 'DB08899',
 8355: 'DB00106',
 8373: 'DB06699',
 8731: 'DB08828',
 8737: 'DB08907',
 8738: 'DB09053',
 8739: 'DB08901',
 8773: 'DB06290',
 8783: 'DB09034',
 8795: 'DB06825',
 8812: 'DB08875',
 8815: 'DB09065',
 8852: 'DB08881',
 8911: 'DB08912',
 9214: 'DB00254',
 9217: 'DB08880',
 9728: 'DB00987',
 9743: 'DB14500',
 9744: 'DB00668',
 9750: 'DB00627',
 9758: 'DB00908',
 9791: 'DB01118',
 9803: 'DB00278',
 9806: 'DB01076',
 9811: 'DB00542',
 9824: 'DB01200',
 9827: 'DB00921',
 9830: 'DB00611',
 9845: 'DB00833',
 9846: 'DB01140',
 9853: 'DB00185',
 9866: 'DB00283',
 9877: 'DB01394',
 9879: 'DB00115',
 9896: 'DB00586',
 9911: 'DB01248',
 9912: 'DB00757',
 9919: 'DB01142',
 9938: 'DB00927',
 9941: 'DB00800',
 9946: 'DB01195',
 9965: 'DB13867',
 9966: 'DB01095',
 9967: 'DB00176',
 9971: 'DB00529',
 9972: 'DB06176',
 9977: 'DB00441',
 9989: 'DB11181',
 10006: 'DB00332',
 10008: 'DB00762',
 10012: 'DB08941',
 10015: 'DB01026',
 10030: 'DB01106',
 10034: 'DB00722',
 10036: 'DB00836',
 10050: 'DB00358',
 10052: 'DB00814',
 10059: 'DB00968',
 10065: 'DB00247',
 10083: 'DB00218',
 10088: 'DB06230',
 10094: 'DB00220',
 10095: 'DB00994',
 10097: 'DB00622',
 10113: 'DB00526',
 10121: 'DB01229',
 10125: 'DB01421',
 10130: 'DB00652',
 10144: 'DB01085',
 10148: 'DB00413',
 10178: 'DB00989',
 10183: 'DB00747',
 10185: 'DB01104',
 10194: 'DB01082',
 10200: 'DB00605',
 10204: 'DB00675',
 10208: 'DB00857',
 10224: 'DB00775',
 10226: 'DB00500',
 10227: 'DB01036',
 10229: 'DB01030',
 10230: 'DB00539',
 10245: 'DB01157',
 10249: 'DB11699',
 10254: 'DB00361',
 10264: 'DB00107',
 10285: 'DB00594',
 10299: 'DB00035',
 10304: 'DB00292',
 10307: 'DB01218',
 10309: 'DB01339',
 10310: 'DB00486',
 10313: 'DB00284',
 10319: 'DB00104',
 10322: 'DB00289',
 10323: 'DB04896',
 10325: 'DB05271',
 10334: 'DB00308',
 10335: 'DB01232',
 10337: 'DB01409',
 10338: 'DB00476',
 10339: 'DB00642',
 10341: 'DB00246',
 10353: 'DB00234',
 10355: 'DB09059',
 10360: 'DB06791',
 10365: 'DB00496',
 10371: 'DB00412',
 10378: 'DB00049',
 10381: 'DB06155',
 10393: 'DB05679',
 10396: 'DB01367',
 10399: 'DB00569',
 10414: 'DB06287',
 10422: 'DB01591',
 10423: 'DB06401',
 10424: 'DB06216',
 10425: 'DB01012',
 10427: 'DB00932',
 10428: 'DB01273',
 10438: 'DB06212',
 10463: 'DB00682',
 10470: 'DB06800',
 10473: 'DB06204',
 10476: 'DB00602',
 10477: 'DB06684',
 10480: 'DB09080',
 10483: 'DB06210',
 10494: 'DB04871',
 10498: 'DB08897',
 10501: 'DB09076',
 10512: 'DB00040',
 10514: 'DB06655',
 10516: 'DB01276',
 10518: 'DB08877',
 10519: 'DB06817',
 10520: 'DB00554',
 10526: 'DB00050',
 10530: 'DB00469',
 10531: 'DB00618'}

In [115]:
"""
Replace values in the given tensor l according to mapping.
"""
def replace(l, mapping):
    return [mapping[int(val)] for val in l]

def replace_with_type(l, _type):
    return [_type + '_' +str(int(val)) for val in l]

In [106]:
"""
Filter the given 2D tensor t according to the first dim (t[0]) -> keeps just values which are in keep -> create mask
Returns 2D tensor with values according to the mask (applied in both dims).

Params:
    t - 2D tensor
    keep - 1D tensor, what values to keep
"""
def my_filter(t, keep):
    mask = torch.isin(t[0],keep) 
    return t[0][mask], t[1][mask]

In [77]:
# select only drug - drug relations

relations = list(data.edge_index_dict.keys())
drug_relations = [rel for rel in relations if rel[0] == 'drug' and rel[2] == 'drug']

result = pd.DataFrame(columns=['drug1', 'relation', 'drug2'])

for i in range(len(drug_relations)):
    edge_index = data.edge_index_dict[drug_relations[i]]
    max_idx = data.edge_index_dict[drug_relations[i]].max()
    sub_rel = U.subgraph(drugs2keep[drugs2keep < max_idx], edge_index)

    drug1_ids = replace(sub_rel[0][0], idx2drugbank)
    drug2_ids = replace(sub_rel[0][1], idx2drugbank)
    
    tmp_df = pd.DataFrame(columns=['drug1', 'relation', 'drug2'])
    tmp_df['drug1'] = drug1_ids
    tmp_df['drug2'] = drug2_ids
    tmp_df['relation'] = list(itertools.repeat(drug_relations[i][1], len(drug1_ids)))
    
    result = pd.concat([result, tmp_df])

In [81]:
result

         drug1                              relation    drug2
0      DB00996  drug-drug_acquired_metabolic_disease  DB00549
1      DB00395  drug-drug_acquired_metabolic_disease  DB00916
2      DB00555  drug-drug_acquired_metabolic_disease  DB00966
3      DB00321  drug-drug_acquired_metabolic_disease  DB00222
4      DB00313  drug-drug_acquired_metabolic_disease  DB01595
...        ...                                   ...      ...
10639  DB00918    drug-drug_viral_infectious_disease  DB00996
10640  DB00502    drug-drug_viral_infectious_disease  DB00575
10641  DB01016    drug-drug_viral_infectious_disease  DB01023
10642  DB00787    drug-drug_viral_infectious_disease  DB01156
10643  DB00203    drug-drug_viral_infectious_disease  DB00564

[309118 rows x 3 columns]

In [138]:
# select drug - * relations

other_relations = [rel for rel in relations if rel[0] == 'drug' and rel[2] != 'drug']

result_hetero = pd.DataFrame(columns=['drug1', 'relation', 'drug2'])

for i in range(len(other_relations)):
    edge_index = data.edge_index_dict[other_relations[i]]
    sub_rel = my_filter(edge_index, drugs2keep)
    
    drug1_ids = replace(sub_rel[0], idx2drugbank)
    drug2_ids = replace_with_type(sub_rel[1], other_relations[i][2])
    
    tmp_df = pd.DataFrame(columns=['drug1', 'relation', 'drug2'])
    tmp_df['drug1'] = drug1_ids
    tmp_df['drug2'] = drug2_ids
    tmp_df['relation'] = list(itertools.repeat(other_relations[i][1], len(drug1_ids)))
    
    result_hetero = pd.concat([result_hetero, tmp_df])
    
    
result_hetero

         drug1         relation            drug2
0      DB00268     drug-disease     disease_1402
1      DB00531     drug-disease     disease_3573
2      DB00501     drug-disease      disease_758
3      DB01165     drug-disease     disease_5249
4      DB00541     drug-disease     disease_1954
...        ...              ...              ...
82961  DB00648  drug-sideeffect  sideeffect_5579
82962  DB01162  drug-sideeffect  sideeffect_7808
82963  DB01097  drug-sideeffect  sideeffect_2204
82964  DB01595  drug-sideeffect  sideeffect_1649
82965  DB00598  drug-sideeffect  sideeffect_7367

[124516 rows x 3 columns]

In [161]:
# select * - * relations (both * must be in result_hetero.drug2)
# protein - protein, disease - protein

proteins = list(result_hetero.drug2[result_hetero.drug2.str.match('protein.*')])
proteins = torch.tensor([int(val.split('_')[1]) for val in proteins])

protein_relations = [rel for rel in relations if rel[0] == 'protein' and rel[2] == 'protein']

result_protein = pd.DataFrame(columns=['drug1', 'relation', 'drug2'])

for i in range(len(protein_relations)):
    edge_index = data.edge_index_dict[protein_relations[i]]
    sub_rel = my_filter(edge_index, proteins)
    
    drug1_ids = replace_with_type(sub_rel[0], protein_relations[i][0])
    drug2_ids = replace_with_type(sub_rel[1], protein_relations[i][2])
    
    tmp_df = pd.DataFrame(columns=['drug1', 'relation', 'drug2'])
    tmp_df['drug1'] = drug1_ids
    tmp_df['drug2'] = drug2_ids
    tmp_df['relation'] = list(itertools.repeat(protein_relations[i][1], len(drug1_ids)))
    
    result_protein = pd.concat([result_protein, tmp_df])
    
result_protein

                drug1                    relation          drug2
0        protein_3772  protein-protein_activation   protein_9842
1        protein_6205  protein-protein_activation   protein_7528
2       protein_16631  protein-protein_activation  protein_10469
3        protein_7387  protein-protein_activation   protein_1524
4        protein_3171  protein-protein_activation   protein_7112
...               ...                         ...            ...
145493   protein_6773    protein-protein_reaction   protein_6169
145494  protein_16220    protein-protein_reaction   protein_7853
145495   protein_3774    protein-protein_reaction  protein_17097
145496  protein_12598    protein-protein_reaction    protein_133
145497  protein_12028    protein-protein_reaction   protein_2482

[455139 rows x 3 columns]

In [162]:
diseases = list(result_hetero.drug2[result_hetero.drug2.str.match('disease.*')])
diseases = torch.tensor([int(val.split('_')[1]) for val in diseases])

diseases_relations = [rel for rel in relations if rel[0] == 'disease' and rel[2] == 'protein']

result_disease = pd.DataFrame(columns=['drug1', 'relation', 'drug2'])

for i in range(len(diseases_relations)):
    edge_index = data.edge_index_dict[diseases_relations[i]]
    sub_rel = my_filter(edge_index, diseases)
    
    drug1_ids = replace_with_type(sub_rel[0], diseases_relations[i][0])
    drug2_ids = replace_with_type(sub_rel[1], diseases_relations[i][2])
    
    tmp_df = pd.DataFrame(columns=['drug1', 'relation', 'drug2'])
    tmp_df['drug1'] = drug1_ids
    tmp_df['drug2'] = drug2_ids
    tmp_df['relation'] = list(itertools.repeat(diseases_relations[i][1], len(drug1_ids)))
    
    result_disease = pd.concat([result_disease, tmp_df])
    
result_disease

              drug1         relation          drug2
0      disease_1614  disease-protein   protein_3358
1      disease_1496  disease-protein   protein_1350
2      disease_3382  disease-protein  protein_15142
3      disease_4438  disease-protein  protein_17390
4       disease_375  disease-protein  protein_16221
...             ...              ...            ...
14013  disease_1614  disease-protein   protein_5635
14014  disease_4435  disease-protein  protein_17492
14015  disease_3856  disease-protein   protein_5710
14016   disease_213  disease-protein  protein_10075
14017    disease_30  disease-protein   protein_6718

[14018 rows x 3 columns]

In [164]:
# concatenate everything

biokg_subgraph = pd.concat([result, result_hetero, result_protein, result_disease])
biokg_subgraph.to_csv(drugbank_dir + 'biokg_subgraph.csv')